requests
psutil
pyperclip
pgpy
pynvml
openpyxl
tk
tqdm
pyttsx3
pyaudio
soundfile
pycryptodome
py-cpuinfo
pyopencl
ecdsa
eth-hash
base58
numpy
cryptography
bitcoinaddress
twilio
playsound
GPUtil
eth-account
